In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("train_senti.csv")

In [3]:
df1=pd.read_csv("test_senti.csv")

In [4]:
df

        id  label                                              tweet
0        1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1        2      0  Finally a transparant silicon case ^^ Thanks t...
2        3      0  We love this! Would you go? #talk #makememorie...
3        4      0  I'm wired I know I'm George I was made that wa...
4        5      1  What amazing service! Apple won't even talk to...
...    ...    ...                                                ...
7915  7916      0  Live out loud #lol #liveoutloud #selfie #smile...
7916  7917      0  We would like to wish you an amazing day! Make...
7917  7918      0  Helping my lovely 90 year old neighbor with he...
7918  7919      0  Finally got my #smart #pocket #wifi stay conne...
7919  7920      0  Apple Barcelona!!! #Apple #Store #BCN #Barcelo...

[7920 rows x 3 columns]

In [5]:
df1

        id                                              tweet
0     7921  I hate the new #iphone upgrade. Won't let me d...
1     7922  currently shitting my fucking pants. #apple #i...
2     7923  I'd like to puts some CD-ROMS on my iPad, is t...
3     7924  My ipod is officially dead. I lost all my pict...
4     7925  Been fighting iTunes all night! I only want th...
...    ...                                                ...
1948  9869  #SamsungGalaxyNote7 Explodes, Burns 6-Year-Old...
1949  9870  Now Available - Hoodie. Check it out here - ht...
1950  9871  There goes a crack right across the screen. If...
1951  9872  @codeofinterest as i said #Adobe big time we m...
1952  9873  Finally I got it .. thanx my father .. #Samsun...

[1953 rows x 2 columns]

In [6]:
df["tweet"][0]

'#fingerprint #Pregnancy Test https://goo.gl/h1MfQV #android #apps #beautiful #cute #health #igers #iphoneonly #iphonesia #iphone'

In [7]:
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import nltk
import string
import re
%matplotlib inline
warnings.filterwarnings("ignore")

In [8]:
def remove_pattern(txt,pattern):
    r=re.findall(pattern,txt)
    for word in r:
        txt=re.sub(word,"",txt)
    return txt

In [9]:
df["clean_tweet"]=np.vectorize(remove_pattern)(df["tweet"],"#")

In [10]:
df1["clean_tweet"]=np.vectorize(remove_pattern)(df1["tweet"],"#")

In [11]:
df

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint Pregnancy Test https://goo.gl/h1Mf...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case ^^ Thanks t...
2,3,0,We love this! Would you go? #talk #makememorie...,We love this! Would you go? talk makememories ...
3,4,0,I'm wired I know I'm George I was made that wa...,I'm wired I know I'm George I was made that wa...
4,5,1,What amazing service! Apple won't even talk to...,What amazing service! Apple won't even talk to...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,Live out loud lol liveoutloud selfie smile son...
7916,7917,0,We would like to wish you an amazing day! Make...,We would like to wish you an amazing day! Make...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,Helping my lovely 90 year old neighbor with he...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,Finally got my smart pocket wifi stay connecte...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,Apple Barcelona!!! Apple Store BCN Barcelona t...

In [12]:
from bs4 import BeautifulSoup

In [13]:
def strip_html_tags(text):
  soup = BeautifulSoup(text,'html.parser')
  stripped_text = soup.get_text()
  #stripped_text = re.sub(r'[\r|\n|\r\n]+','\n',stripped_text)
  return stripped_text

In [14]:
df["clean_tweet"]=df["clean_tweet"].apply(lambda x:strip_html_tags(x))

In [15]:
df1["clean_tweet"]=df1["clean_tweet"].apply(lambda x:strip_html_tags(x))

In [16]:
df

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint Pregnancy Test https://goo.gl/h1Mf...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case ^^ Thanks t...
2,3,0,We love this! Would you go? #talk #makememorie...,We love this! Would you go? talk makememories ...
3,4,0,I'm wired I know I'm George I was made that wa...,I'm wired I know I'm George I was made that wa...
4,5,1,What amazing service! Apple won't even talk to...,What amazing service! Apple won't even talk to...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,Live out loud lol liveoutloud selfie smile son...
7916,7917,0,We would like to wish you an amazing day! Make...,We would like to wish you an amazing day! Make...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,Helping my lovely 90 year old neighbor with he...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,Finally got my smart pocket wifi stay connecte...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,Apple Barcelona!!! Apple Store BCN Barcelona t...

In [17]:
stop_words = nltk.corpus.stopwords.words('english')

In [18]:
pip install contractions

Requirement already satisfied: contractions in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (0.1.72)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from contractions) (0.0.21)
Requirement already satisfied: anyascii in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.1)
Requirement already satisfied: pyahocorasick in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from textsearch>=0.0.21->contractions) (1.4.4)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import contractions

In [20]:
df["clean_tweet"][3]

"I'm wired I know I'm George I was made that way ;) iphone cute daventry home http://instagr.am/p/Li_5_ujS4k/"

In [21]:
contractions.fix(df["clean_tweet"][3])

'I am wired I know I am George I was made that way ;) iphone cute daventry home http://instagr.am/p/Li_5_ujS4k/'

In [22]:
df["clean_tweet"]=df["clean_tweet"].apply(lambda x:contractions.fix(x))

In [23]:
df1["clean_tweet"]=df1["clean_tweet"].apply(lambda x:contractions.fix(x))

In [24]:
df

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint Pregnancy Test https://goo.gl/h1Mf...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case ^^ Thanks t...
2,3,0,We love this! Would you go? #talk #makememorie...,We love this! Would you go? talk makememories ...
3,4,0,I'm wired I know I'm George I was made that wa...,I am wired I know I am George I was made that ...
4,5,1,What amazing service! Apple won't even talk to...,What amazing service! Apple will not even talk...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,Live out loud lol liveoutloud selfie smile son...
7916,7917,0,We would like to wish you an amazing day! Make...,We would like to wish you an amazing day! Make...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,Helping my lovely 90 year old neighbor with he...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,Finally got my smart pocket wifi stay connecte...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,Apple Barcelona!!! Apple Store BCN Barcelona t...

In [25]:
df["clean_tweet"][0]

'fingerprint Pregnancy Test https://goo.gl/h1MfQV android apps beautiful cute health igers iphoneonly iphonesia iphone'

In [26]:
re.sub(r'[^a-zA-Z0-9\s]',"",df["clean_tweet"][0])

'fingerprint Pregnancy Test httpsgooglh1MfQV android apps beautiful cute health igers iphoneonly iphonesia iphone'

In [27]:
df["clean_tweet"]=df["clean_tweet"].apply(lambda x:re.sub(r'[^a-zA-Z0-9\s]',"",x))

In [28]:
df1["clean_tweet"]=df1["clean_tweet"].apply(lambda x:re.sub(r'[^a-zA-Z0-9\s]',"",x))

In [29]:
df

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint Pregnancy Test httpsgooglh1MfQV an...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case Thanks to ...
2,3,0,We love this! Would you go? #talk #makememorie...,We love this Would you go talk makememories un...
3,4,0,I'm wired I know I'm George I was made that wa...,I am wired I know I am George I was made that ...
4,5,1,What amazing service! Apple won't even talk to...,What amazing service Apple will not even talk ...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,Live out loud lol liveoutloud selfie smile son...
7916,7917,0,We would like to wish you an amazing day! Make...,We would like to wish you an amazing day Make ...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,Helping my lovely 90 year old neighbor with he...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,Finally got my smart pocket wifi stay connecte...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,Apple Barcelona Apple Store BCN Barcelona trav...

In [30]:
df["clean_tweet"][0]

'fingerprint Pregnancy Test httpsgooglh1MfQV android apps beautiful cute health igers iphoneonly iphonesia iphone'

In [31]:
a="'fingerprint Pregnancy Test httpsgooglh1MfQV android apps beautiful cute health igers iphoneonly iphonesia iphone'"

In [32]:
re.sub("https\w+","",a)

"'fingerprint Pregnancy Test  android apps beautiful cute health igers iphoneonly iphonesia iphone'"

In [33]:
df["clean_tweet"]=df["clean_tweet"].apply(lambda x:re.sub("https\w+","",x))

In [34]:
df1["clean_tweet"]=df1["clean_tweet"].apply(lambda x:re.sub("https\w+","",x))

In [35]:
df

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint Pregnancy Test android apps beaut...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case Thanks to ...
2,3,0,We love this! Would you go? #talk #makememorie...,We love this Would you go talk makememories un...
3,4,0,I'm wired I know I'm George I was made that wa...,I am wired I know I am George I was made that ...
4,5,1,What amazing service! Apple won't even talk to...,What amazing service Apple will not even talk ...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,Live out loud lol liveoutloud selfie smile son...
7916,7917,0,We would like to wish you an amazing day! Make...,We would like to wish you an amazing day Make ...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,Helping my lovely 90 year old neighbor with he...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,Finally got my smart pocket wifi stay connecte...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,Apple Barcelona Apple Store BCN Barcelona trav...

In [36]:
tokenizedtweet=df1["clean_tweet"].apply(lambda x : x.split())
tokenizedtweet.head()

0    [I, hate, the, new, iphone, upgrade, Will, not...
1    [currently, shitting, my, fucking, pants, appl...
2    [I, would, like, to, puts, some, CDROMS, on, m...
3    [My, ipod, is, officially, dead, I, lost, all,...
4    [Been, fighting, iTunes, all, night, I, only, ...
Name: clean_tweet, dtype: object

In [37]:
from nltk.stem.porter import PorterStemmer
stemmer= PorterStemmer()
tokenizedtweet=tokenizedtweet.apply(lambda x : [stemmer.stem(word) for word in x])
tokenizedtweet.head()

0    [i, hate, the, new, iphon, upgrad, will, not, ...
1    [current, shit, my, fuck, pant, appl, imac, ca...
2    [i, would, like, to, put, some, cdrom, on, my,...
3    [my, ipod, is, offici, dead, i, lost, all, my,...
4    [been, fight, itun, all, night, i, onli, want,...
Name: clean_tweet, dtype: object

In [38]:
tokenizedtweet=tokenizedtweet.apply(lambda x : " ".join([i for i in x]))
tokenizedtweet.head()

0    i hate the new iphon upgrad will not let me do...
1    current shit my fuck pant appl imac cashmoney ...
2    i would like to put some cdrom on my ipad is t...
3    my ipod is offici dead i lost all my pictur an...
4    been fight itun all night i onli want the musi...
Name: clean_tweet, dtype: object

In [39]:
df1["clean_tweet"]=tokenizedtweet
df1.head()

,id,tweet,clean_tweet
0,7921,I hate the new #iphone upgrade. Won't let me d...,i hate the new iphon upgrad will not let me do...
1,7922,currently shitting my fucking pants. #apple #i...,current shit my fuck pant appl imac cashmoney ...
2,7923,"I'd like to puts some CD-ROMS on my iPad, is t...",i would like to put some cdrom on my ipad is t...
3,7924,My ipod is officially dead. I lost all my pict...,my ipod is offici dead i lost all my pictur an...
4,7925,Been fighting iTunes all night! I only want th...,been fight itun all night i onli want the musi...

In [40]:
tokenizedtweett=df["clean_tweet"].apply(lambda x : x.split())
tokenizedtweett.head()

0    [fingerprint, Pregnancy, Test, android, apps, ...
1    [Finally, a, transparant, silicon, case, Thank...
2    [We, love, this, Would, you, go, talk, makemem...
3    [I, am, wired, I, know, I, am, George, I, was,...
4    [What, amazing, service, Apple, will, not, eve...
Name: clean_tweet, dtype: object

In [41]:
from nltk.stem.porter import PorterStemmer
stemmer= PorterStemmer()
tokenizedtweett=tokenizedtweett.apply(lambda x : [stemmer.stem(word) for word in x])
tokenizedtweett.head()

0    [fingerprint, pregnanc, test, android, app, be...
1    [final, a, transpar, silicon, case, thank, to,...
2    [we, love, thi, would, you, go, talk, makememo...
3    [i, am, wire, i, know, i, am, georg, i, wa, ma...
4    [what, amaz, servic, appl, will, not, even, ta...
Name: clean_tweet, dtype: object

In [42]:
tokenizedtweett=tokenizedtweett.apply(lambda x : " ".join([i for i in x]))
tokenizedtweett.head()

0    fingerprint pregnanc test android app beauti c...
1    final a transpar silicon case thank to my uncl...
2    we love thi would you go talk makememori unplu...
3    i am wire i know i am georg i wa made that way...
4    what amaz servic appl will not even talk to me...
Name: clean_tweet, dtype: object

In [43]:
df["clean_tweet"]=tokenizedtweett
df.head()

,id,label,tweet,clean_tweet
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint pregnanc test android app beauti c...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,final a transpar silicon case thank to my uncl...
2,3,0,We love this! Would you go? #talk #makememorie...,we love thi would you go talk makememori unplu...
3,4,0,I'm wired I know I'm George I was made that wa...,i am wire i know i am georg i wa made that way...
4,5,1,What amazing service! Apple won't even talk to...,what amaz servic appl will not even talk to me...

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer=CountVectorizer(max_df=0.90,min_df=2,max_features=1000,stop_words="english")
bow=bow_vectorizer.fit_transform(df["clean_tweet"])

In [45]:
bow1=bow_vectorizer.transform(df1["clean_tweet"])

In [46]:
np.array(bow)

array(<7920x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 57849 stored elements in Compressed Sparse Row format>, dtype=object)

In [47]:
bow1

<1953x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 13834 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score,accuracy_score
le=LogisticRegression()

In [49]:
le.fit(bow,df["label"])

LogisticRegression()

In [50]:
pred=le.predict(bow1)

In [51]:
d=pd.DataFrame(pred)

In [52]:
d

      0
0     1
1     1
2     1
3     1
4     1
...  ..
1948  0
1949  0
1950  1
1951  1
1952  0

[1953 rows x 1 columns]

In [53]:
d.to_csv("file1.csv")

In [54]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(bow,df["label"])

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [55]:
pred=classifier.predict(bow1)
d=pd.DataFrame(pred)

In [56]:
d

      0
0     1
1     1
2     1
3     1
4     1
...  ..
1948  0
1949  0
1950  1
1951  0
1952  0

[1953 rows x 1 columns]

In [57]:
d.to_csv("file1.csv")

In [58]:
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier(n_estimators=100)
r.fit(bow,df["label"])

RandomForestClassifier()

In [59]:
pred=r.predict(bow1)
d=pd.DataFrame(pred)

In [60]:
d

      0
0     1
1     1
2     1
3     1
4     1
...  ..
1948  0
1949  0
1950  1
1951  0
1952  0

[1953 rows x 1 columns]

In [62]:
d.to_csv("file2.csv")

In [63]:
from sklearn.svm import SVC
s= SVC(kernel='linear', random_state=0)  
s.fit(bow,df["label"])

SVC(kernel='linear', random_state=0)

In [64]:
pred=s.predict(bow1)
d=pd.DataFrame(pred)

In [66]:
d.to_csv("file3.csv")

In [71]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(bow.todense(),df["label"])

GaussianNB()

In [73]:
pred=gnb.predict(bow1.todense())
d=pd.DataFrame(pred)

In [74]:
d.to_csv("file4.csv")

In [75]:
from xgboost import XGBClassifier

In [76]:
model = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')

In [77]:
model.fit(bow.todense(),df["label"])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              eval_metric='mlogloss', gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [78]:
pred=model.predict(bow1.todense())
d=pd.DataFrame(pred)

In [79]:
d.to_csv("file5.csv")

In [80]:
import lightgbm as lgb
clf = lgb.LGBMClassifier()
clf.fit(bow.todense(),df["label"])

LGBMClassifier()

In [83]:
pred=clf.predict(bow1.todense())
d=pd.DataFrame(pred)

In [85]:
d.to_csv("file7.csv")

In [86]:
pip install catboost

Requirement already satisfied: catboost in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (0.26.1)
Collecting graphviz
Note: you may need to restart the kernel to use updated packages.
  Downloading graphviz-0.20-py3-none-any.whl (46 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from catboost) (1.21.5)
Requirement already satisfied: six in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from catboost) (3.5.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from catboost) (1.4.1)
Requirement already satisfied: scipy in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from catboost) (1.7.3)
Collecting plotly
  Downloading plotly-5.9.0-py2.py3-none-any.whl (15.2 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: packaging>=20.0 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\keerthivasan\anaconda\envs\ml2\lib\site-packages (from matplotlib->catboost) (4.25.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, graphviz
Successfully installed graphviz-0.20 plotly-5.9.0 tenacity-8.0.1

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/graphviz/